body {
    background-image: url(../src/background.png);
}

@keyframes example {

}
#searchFormHolder {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#searchBar {
    background-color: transparent;
    border-width: 0px;
    border-width: 0px 0px 2px 0px;
    border-color: white;
    color: white;
    width: 500px;
    font-size: 16px;
}

#searchForm {
    display: flex;
    
}

#searchBar:focus {
    outline: none;
}

::placeholder {
    color: white;
    opacity: 1;
}

#searchButton {
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../src/magnify.svg);
    height: 30px;
    width: 30px;
    cursor: pointer;
    border-width: 0px;
    filter: invert();
}